- if liked_post_ids.include?(post.id)
  = button_to post_likes_path(post.id), class: 'btn', method: :delete do
    %i.fas.fa-regular.fa-heart.likes_btn.text-danger
- else
  = button_to post_likes_path(post.id), class: 'btn' do
    %i.fas.fa-solid.fa-heart.unlikes_btn
